<style>
nav ul {
    display: flex;
    justify-content: center; /* Центрируем список */
    list-style: none; /* Убираем стандартные маркеры списка */
    padding: 0;
    margin: 20px 0; /* Отступы сверху и снизу */
}

nav ul li {
    margin: 0 15px; /* Отступы между элементами списка */
}

nav ul li a {
    background-color: #24d6af;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    background-color: #0d8d71;
}
</style>

<% content_for :title, "Главная страница" %>

<h1>Добро пожаловать в Game Store</h1>

<nav>
  <ul>
    <li><%= link_to 'Таблица клиентов', clients_path %></li>
    <li><%= link_to 'Игры', games_path %></li>
    <li><%= link_to 'Магазин', login_path %></li> <!-- Измените на login_path для перехода на страницу входа -->
  </ul>
</nav>