/* Общие стили */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

.main-content {
    margin-top: 70px;
}

h1,
h2 {
    color: #e2e2e2;
    background-color: #5e5e5e4d;
    border: none;
    border-radius: 7px;
    text-decoration: none;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 70px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button,
input[type="submit"] {
    background: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background: #4cae4c;
}

.alert {
    color: red;
    font-weight: bold;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: #24d6af;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #0d8d71;
}

.nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    background-color: #24d6af;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    cursor: pointer;
}

.nav-links a:hover {
    background-color: #0d8d71;
}

#section5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    gap: 3px;
}

.cell {
    color: white;
    background-color: #4f4f4f;
    margin: 1px;
    border-radius: 2px;
}

.cell.revealed {
    font-size: 2rem;
    color: #fff;
    background-color: #a2a2a2;
}

.cell.mine {
    background-color: #f00;
}

.cell.flagged::after {
    font-size: 2rem;
    content: '#';
}

.new-client-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #24d6af;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.new-client-btn:hover {
    background-color: #0d8d71;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    /* Цвет фона */
    z-index: 1000;
    /* Поверх других элементов */
    padding: 10px 20px;
    /* Отступы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Тень для выделения */
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    /* Белый цвет текста */
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #5cb85c;
    /* Зеленый цвет при наведении */
}